<!DOCTYPE html>
<html>
    <head>
        <title>JoJo</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Jonathan Jostar Blog</a></h1>
        </div>

<!--        <div>-->
<!--          {% for post in posts %}-->
<!--            <p>{{ post.author }}</p>-->
<!--            <p>{{ post.title }}</p>-->
<!--            <p>{{ post.published_date }}</p>-->
<!--            {% endfor %}-->
<!--        </div>-->

<!--        <div>-->
<!--            <p>published: 13.13.2013, 13:13</p>-->
<!--            <h2><a href="">My new hamon overdrive</a></h2>-->
<!--            <p>The user charges a Ripple wave through his arm and releases it into a solid object, such as a wall or partition. The Ripple can travel through and reach anything on the other side, and anything hit by the Ripple is sent flying in a spiral. If the enemy is an Undead, the Ripple will enter their bloodstream and destroy them from the inside.</p>-->
<!--        </div>-->
    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    </body>
</html>