<!DOCTYPE html>
<html>
    <head>
        <title>JoJo</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Jonathan Jostar Blog</a></h1>
        </div>

        <div>
            <p>published: 12.12.2012, 12:12</p>
            <h2><a href="">Simple Hamon</a></h2>
            <p>Hamon (also referred to as Ripple or Sendo) is a technique used in the early parts of Jojo's Bizarre Adventure. Through the use of controlled breathing, the user can fill their body and attacks with sunlight energy, making it very effective against Vampires, Zombies, and Pillar Men</p>
        </div>

        <div>
            <p>published: 13.13.2013, 13:13</p>
            <h2><a href="">My new hamon overdrive</a></h2>
            <p>The user charges a Ripple wave through his arm and releases it into a solid object, such as a wall or partition. The Ripple can travel through and reach anything on the other side, and anything hit by the Ripple is sent flying in a spiral. If the enemy is an Undead, the Ripple will enter their bloodstream and destroy them from the inside.</p>
        </div>
    </body>
</html>